.calculadora { 
	border: 3px blue ridge; 
	width: 300px;
	text-align: center;
   
}

div {
	background-image: url("img/tony.jpg");
}

#textoPantalla { 
	width: 200px; 
	border: 4px black solid; 
	text-align: right; 
    position: relative; 
    left: 45px;  
    padding: 0px 5px ;
    background-color: blue; 
    font-family: "arial"; 
    overflow: hidden;
	color: yellow;
}
    

.calculadora [type=button] { 
	width: 40px; 
	padding: 0;  }

.calculadora input.largo { 
	color: red; 
	width: 85px; }
